{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %} 404 - Page not found | Manifest Services{% endblock title %}
{% block no_canonical %}{% endblock no_canonical %}
{% block meta_description %} The requested page is not found. Please ensure you enter the correct url | Manifest Services{% endblock meta_description %}
{% block meta_title %} 404 - Page not found | Manifest Services {% endblock meta_title %}
{% block meta_description_prop %} The requested page is not found. Please ensure you enter the correct url | Manifest Services{% endblock meta_description_prop %}
{% block no_og_url %}{% endblock no_og_url %}

{% block body %}    
    <section class="site-section">
      
    <section class="site-section testimonial-wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-black h1 site-section-heading text-center">Sorry! Page Not Found</h2>
            <p>Sorry, the requested page is not found or this content has been moved</p>
          </div>
        </div>
      </div>
        </section>
    
    
{% endblock body %}    