{% extends 'base.html' %}
{% block title %} Website design development and software projects| Manifest Services{% endblock title %}
{% block canonical_link %}{% url 'projects' %}{% endblock canonical_link %}
{% block meta_description %}Top,best SEO company with SEO Keywords research, Link building, blogs in Chennai,Hyderabad. Search Engine Optimization helps to rank on top of google results.{% endblock meta_description %}
{% block meta_title %}Website design development and software projects| Manifest Services{% endblock meta_title %}
{% block meta_description_prop %}Top,best SEO company with SEO Keywords research, Link building, blogs in Chennai,Hyderabad. Search Engine Optimization helps to rank on top of google results.{% endblock meta_description_prop %}
{% block meta_url %}{% url 'projects' %}{% endblock meta_url %}
{% load static from staticfiles %}
{% block body %}    
    <section class="site-section">
      
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="media-1">
              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
              <div class="media-1-content">
                <h2>Osmania Medical House</h2>
                <span class="category">eCommerce Store</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="media-1">
              <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
              <div class="media-1-content">
                <h2>Used Books Factory</h2>
                <span class="category">Search Engine Optimization</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="#" class="media-1">
              <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
              <div class="media-1-content">
                <h2>TRS Mathematics Academy</h2>
                <span class="category">Web Application</span>
              </div>
            </a>
          </div>

          

        </div>
      </div>
    </section>


    <section class="site-section testimonial-wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-black h1 site-section-heading text-center">Testimonials</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          {% for record in testimonials %}
          <div>
          	
            <div class="testimonial">
              
              <blockquote class="mb-5">
                <p>&ldquo;{{record.content}}&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <p>{{record.author}}</p>
              </figure>
            </div>
          </div>
          {% endfor %}
          
        </div>
    </section>
    
    
{% endblock body %}    