{% extends 'base.html' %}
{% block title %} Website design development and software projects| Manifest Services{% endblock title %}
{% block canonical_link %}{% url 'projects' %}{% endblock canonical_link %}
{% block meta_description %}Top,best SEO company with SEO Keywords research, Link building, blogs in Chennai,Hyderabad. Search Engine Optimization helps to rank on top of google results.{% endblock meta_description %}
{% block meta_title %}Website design development and software projects| Manifest Services{% endblock meta_title %}
{% block meta_description_prop %}Top,best SEO company with SEO Keywords research, Link building, blogs in Chennai,Hyderabad. Search Engine Optimization helps to rank on top of google results.{% endblock meta_description_prop %}
{% block meta_url %}{% url 'projects' %}{% endblock meta_url %}
{% load static from staticfiles %}
{% block body %}    
    <section class="site-section">
      
    <section class="site-section testimonial-wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-black h1 site-section-heading text-center">Thank you for contacting us</h2>
            <p>We have received your message. We would get back to you shortly</p>
          </div>
        </div>
      </div>
        </section>
    
    
{% endblock body %}    